<mat-card>
  <button mat-button>
    <mat-icon>menu</mat-icon>
  </button>

  <div fxFlex></div>
  <!--<button mat-icon-button (click)="toggleTheme()">
    <mat-slide-toggle></mat-slide-toggle>
  </button>-->
  <button mat-button>
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="shareMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #shareMenu>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>Settings
    </button>
    <button mat-menu-item>
      <mat-icon>feedback</mat-icon>Send Feedback
    </button>
    <button mat-menu-item>
      <mat-icon>help</mat-icon>Help
    </button>
    <!--<button *ngIf="!fullScreen; else elseBlock" mat-menu-item (click)="openFullscreen()">
      <mat-icon>fullscreen</mat-icon>Full Screen
    </button>
    <ng-template #elseBlock>
      <button mat-menu-item (click)="closeFullscreen()">
        <mat-icon>fullscreen_exit</mat-icon>Exit Full Screen
      </button>
    </ng-template>-->
  </mat-menu>
</mat-card>
<mat-card>
  <button mat-button class="margin-right-20">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-flat-button class="margin-right-20">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-raised-button matTooltip="Edit" class="margin-right-20">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-raised-button matTooltip="Edit" class="margin-right-20" color="primary">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-raised-button matTooltip="Edit" class="margin-right-20" color="accent">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-raised-button class="margin-right-20" color="warn">
    <mat-icon>
      delete
    </mat-icon>
    DELETE
  </button>
  <button mat-mini-fab class="margin-right-20" color="primary">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-right-20" color="accent">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-right-20" color="warn">
    <mat-icon>
      delete
    </mat-icon>
  </button>
</mat-card>
<mat-card>
  <mat-checkbox class="margin-right-20">Unchecked</mat-checkbox>
  <mat-checkbox [checked]="true" class="margin-right-20">Checked</mat-checkbox>
  <mat-checkbox [indeterminate]="true" class="margin-right-20">Indeterminate</mat-checkbox>
  <mat-checkbox [disabled]="true" class="margin-right-20">Disabled</mat-checkbox>
</mat-card>
<mat-card>
  <mat-radio-group labelPosition="after">
    <mat-radio-button class="margin-right-20" value="alpha">Alpha</mat-radio-button>
    <mat-radio-button class="margin-right-20" value="beta">Beta</mat-radio-button>
    <mat-radio-button class="margin-right-20" value="delta" disabled="true">Delta</mat-radio-button>
  </mat-radio-group>
  <mat-slider></mat-slider>
  <mat-slider min="1" max="5" step="1.5" value="2.5"></mat-slider>
  <mat-slider vertical></mat-slider>
  <mat-slider thumbLabel tickInterval="1"></mat-slider>
  <mat-slider
    thumbLabel
    tickInterval="1000"
    min="1"
    max="100000"></mat-slider>
  <mat-slider step="4" tickInterval="3"></mat-slider>
  <mat-slider tickInterval="auto"></mat-slider>

</mat-card>
<mat-card>
  <mat-form-field class="margin-right-20">
    <input matInput placeholder="Favourite food" value="Sushi"/>
  </mat-form-field>
  <mat-form-field class="margin-right-20">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-spinner class="margin-right-20 display-inline-block"></mat-spinner>
  <mat-spinner class="margin-right-20 display-inline-block" color="accent"></mat-spinner>
  <mat-spinner class="margin-right-20 display-inline-block" color="warn"></mat-spinner>
</mat-card>
<mat-card>
  <div class="margin-20">
    Determinate progress bar - {{progress}}%
    <mat-progress-bar mode="determinate" [value]="progress" class="margin-20"></mat-progress-bar>
  </div>
  <div class="margin-20">
    <label>Indeterminate progress bar</label>
    <mat-progress-bar mode="indeterminate" class="margin-20" color="accent"></mat-progress-bar>
  </div>
  <div class="margin-20">
    <label>Indeterminate progress bar</label>
    <mat-progress-bar mode="indeterminate" class="margin-20" color="warn"></mat-progress-bar>
  </div>
</mat-card>

<mat-card>
  <button mat-raised-button class="margin-right-20" (click)="openDialog('Delete', 'Are you sure you want to delete this article ?', '')">
    Open Dialog
  </button>
  <button mat-raised-button class="margin-right-20" (click)="openSnackBar('Can\'t send photos. Retry in 5 seconds.', 'RETRY')">
    Open Snack Bar
  </button>
</mat-card>
<mat-card>
  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="Earth">
      Earth is the only planet in the solar system known to harbor life. Our planet's rapid spin and molten nickel-iron core give rise to an extensive magnetic field, which, along with the atmosphere, shields us from nearly all of the harmful radiation coming from the Sun and other stars.
    </mat-tab>
    <mat-tab label="Moon">
      In 1969, Neil Armstrong made history by taking "one small step" on the moon as the world watched in awe. ... The moon has a bearing on the gravitational and tidal science of the earth, and has long played its part in the superstitions and fairy tales of its population.
    </mat-tab>
  </mat-tab-group>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{link.label}}</a>

  </nav>
  <router-outlet></router-outlet>
</mat-card>
<mat-card>
  <mat-nav-list>
    <mat-list-item *ngFor="let link of navLinks">
      <button mat-icon-button>
        <mat-icon>{{link.icon}}</mat-icon>
      </button>
      <a href="{{link.path}}" >{{link.label}}</a>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
<mat-card>
  <p>
    <label matBadge="5" matBadgeOverlap="false" matBadgeColor="primary" class="margin-right-20">Text with a badge</label>
  </p>
  <p>
    Button with a badge
    <button class="margin-right-20" mat-raised-button matBadge="8" matBadgePosition="above after" matBadgeColor="accent">Action</button>
  </p>
  <p>
    Icon with a badge
    <mat-icon matBadge="10" matBadgePosition="above after" matBadgeColor="warn">home</mat-icon>
  </p>
</mat-card>
<mat-card>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
</mat-card>
<mat-card>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>
<mat-card>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</mat-card>
