/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
html, body { height: 100%; }
body { margin: 0;}
/*display*/
.display-inline-block {
  height: 2px;
  width: 2px;
  display: inline-block;
}
/*padding*/
.padding-20 {
  padding: 20px;
}
.padding-horizon-10 {
  padding-left: 10px;
  padding-right: 10px;
}
/*margin*/
.margin-20 {
  margin: 20px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-30 {
  margin-right: 30px;
}
/*material*/
mat-card {
  margin-bottom: 20px;
}
mat-grid-tile {
  background: lightblue;
}
